{% if(paginator.hasPages()) %}
    <ul class="pagination">
        {#-- Previous Page Link --#}
        {% if(paginator.onFirstPage()) %}
            <li class="disabled">
                <span>{{ __('pagination.prev') }}</span>
            </li>
        {% else %}
            <li><a
                        href="{{ paginator.previousPageUrl() }}"
                        rel="prev">{{ __('pagination.prev') }}</a></li>
        {% endif %}

        {#-- Next Page Link --#}
        {% if(paginator.hasMorePages()) %}
            <li><a
                        href="{{ paginator.nextPageUrl() }}"
                        rel="next">{{ __('pagination.next') }}</a></li>
        {% else %}
            <li class="disabled">
                <span>{{ __('pagination.next') }}</span>
            </li>
        {% endif %}
    </ul>
{% endif %}